@import "tailwindcss";

:root {
  --background: #fdf8f5;
  --foreground: #4a3f39;
}

@theme inline {
  --color-light: var(--background);
  --color-dark: var(--foreground);
  --color-kelly-pink-100: #f1dce3;
  --color-kelly-pink-300: #f3b6c8;
  --color-kelly-pink-500: #efa3bc;
  --color-secondary: #f7e9ed;
  --color-accent: #e49aae;
  --color-muted: #f8f4f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdf8f5;
    --foreground: #4a3f39;
  }
}

.font-dmSans {
  font-family: var(--font-dm-sans), sans-serif;
}

.font-dmSerif {
  font-family: var(--font-dm-serif-test), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}
